################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FastTrack.Testing.Session2/v17/TestStore/0
/FastTrack.Testing.Session2.Application/obj
/FastTrack.Testing.Session2.UnitTests/bin/Debug/net8.0
/FastTrack.Testing.Session2.UnitTests/obj
