################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FastTrack.Testing.Session2/v17/TestStore/0
/FastTrack.Testing.Session2.Application/obj
/FastTrack.Testing.Session2.UnitTests/bin/Debug/net8.0
/FastTrack.Testing.Session2.UnitTests/obj
/csharp/.vs/FastTrack.Testing.Session2/DesignTimeBuild
/csharp/.vs/FastTrack.Testing.Session2/FileContentIndex
/csharp/.vs
/csharp/FastTrack.Testing.Session2.Application/bin/Debug/net8.0
/csharp/FastTrack.Testing.Session2.Application/obj
/csharp/FastTrack.Testing.Session2.UnitTests/bin/Debug/net8.0
/csharp/FastTrack.Testing.Session2.UnitTests/obj
